<a href="https://colab.research.google.com/github/avnijet/RLlab/blob/main/RL_EXP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 3
print(type(x))
print(x)
print(x+1)
print(x*2)
print(x**2)
x += 1
print(x)

<class 'int'>
3
4
6
9
4

In [ ]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not f)
print(t != f)

<class 'bool'>
False
True
True
True

In [ ]:
x = 'hello'
print(x)
print(len(x))
h1 = '{},{},{}'.format('hello','world','12')
print(h1)

hello
5
hello,world,12

In [ ]:
x = 'hello'
print(x.capitalize())
print(x.upper())
print(x.rjust(7))
print(x.center(7))
print(x.replace('l','o'))
print('   world'.strip())

Hello
HELLO
  hello
 hello
heooo
world

In [ ]:
ls = [1,2,3]
print(ls[2])
print(ls[-1])
ls.append('bar')
print(ls)

3
3
[1, 2, 3, 'bar']

In [ ]:
num = list(range(5))
print(num)
print(num[2:4])
print(num[2:])
print(num[:2])
print(num[:])


animals = ['cat', 'dog', 'monkey']
for animal in animals:
  print(animal)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
cat
dog
monkey

In [ ]:
animals = ['cat','dog','monkey']
for idx, animal in enumerate(animals):
  print('{}'.format(idx+1, animal))

1
2
3

In [ ]:
num = [0,1,2,3,4]
ls = []
for x in num:
  ls.append(x**2)
print(ls)

[0, 1, 4, 9, 16]

In [ ]:
nums = [0, 1, 2, 3, 4]
even = [x ** 2 for x in nums if x % 2 == 0]
print(even)

[0, 4, 16]